Flask==2.3.3
Flask-CORS==4.0.0
numpy==1.24.3
pydub==0.25.1
torch==2.1.2
torchaudio==2.1.2
torchcodec
demucs==4.0.1
speechbrain==0.5.15
soundfile==0.12.1
librosa==0.10.1
pytorch_lightning==2.1.3
asteroid==0.6.0
scipy==1.11.4
matplotlib==3.8.0